[user]
	name = Alex Suraci
	email = suraci.alex@gmail.com
[alias]
	ci = commit
	co = checkout
	st = status
[push]
	default = simple
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
