[include]
	path = .gitpair
[alias]
	ci = duet-commit
	co = checkout
	st = status
[push]
	default = simple
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
