[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/vito/dot-nvim
[submodule "fish/.config/base16-shell"]
	path = fish/.config/base16-shell
	url = https://github.com/vito/base16-shell
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
