# human-facing directories
/Documents/
/Downloads/
/Pictures/
/src/

# things that don't belong in git
/.local/
/.bash_history
/.bash_logout
/.cache/
/.wget-hsts
/.var/app/
/.ssh/
/.mozilla/
/.gcalcli_cache
/.gcalcli_oauth
/.docker/cli-plugins/

# filter out specific files under .config so we don't miss anything new
/.bashrc
/.bash_profile
/.config/fish/fish_variables
/.config/cni/net.d/cni.lock
/.config/dconf/user
/.config/lxqt/lxqt.conf
/.config/pulse/cookie
/.config/toolbox/podman-system-migrate
/.config/pavucontrol.ini
